.error {
    display: none;
    margin-left: 10px;
}

.error_show {
    color: red;
    margin-left: 10px;
}

select.invalid,
input.invalid,
textarea.invalid {
    border: 2px solid red;
}

select.valid,
input.valid,
textarea.valid {
    border: 2px solid green;
}