/*Generic*/
.wrapper {
  margin: 60px auto;
  text-align: center;
}
h1 {
  margin-bottom: 1.25em;
}

/*Specific styling*/
#content {
  padding: 15px;
  border: solid 1px #eee;
  max-width: 660px;
  margin: auto;
  border-radius: 4px;
}
