.card-img {
  height: 100%;
  width: auto;
}
h6 {
  color: #444;
}
.center {
  text-align: center;
}
div.absolute {
  position: absolute;
  bottom: 10px;
  /* width: 50%; */
  /* border: 3px solid #8ac007; */
}
.body {
  height: 8em;
  overflow: scroll;
}
.main-body {
  padding: 0.25rem;
}
