.text-black {
  color: black;
}

.card-img {
  height: 100%;
  width: auto;
}

/* Tabs*/
/* section {
    padding: 60px 0;
    } */

section .section-title {
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#tabs {
  background: #fff;
  color: #000;
}
#tabs h6.section-title {
  color: #000;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #000;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 4px solid !important;
  font-size: 20px;
  font-weight: bold;
}
#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #000;
  font-size: 14px;
}

/* .nav-link {
    padding: 0.5em.5em;
  } */
.currency {
  padding: 0.5em 1.5em;
}
.btn {
  float: right;
}
.border {
  width: 12em;
  padding: 0.8em;
}
.icon {
  width: auto;
  height: 70%;
  padding-top: 1em;
  padding-left: 1em;
}
.card-body {
  padding: 0em;
}
.header {
  background-color: #082d61;
}
.points a {
  /* color: red; */
  font-size: 1em;
  text-decoration: none;
}
.header h5 {
  color: #fff;
  padding: 0.5em;
}
