.read-more-button {
  display: flex;
  justify-content: center;
}
.navbar {
  background-color: #082d61;
  width: 100%;
}

h6 {
  color: #243c4f;
}

.banner {
  background-image: url(/images/banner/banner.jpg);
  color: #ffffff;
}

@font-face {
  font-family: futura;
  src: url(font/FuturaPTLight.otf);
}

.nav-center {
  text-align: right;
  margin-top: 20px;
}

.nav-login {
  text-align: right;
}

.arrow {
  height: 30px;
  widows: 30px;
}

.advance-search {
  padding: 10px;
}

a {
  text-decoration: none !important;
}

.btn-primary {
  border-radius: 50px;
}

.btn-danger {
  border-radius: 50px;
}

header {
  background-color: #013e8f;
  padding: 25px;
  color: darkslategray;
  color: white;
}

body {
  font-family: futura;
  font-weight: 400;
  font-size: 1rem;
  overflow-x: hidden;
  color: #607289;
  background-image: url(/images/bg.jpg);
}

h5 {
  font-size: 1rem;
  line-height: 1.375;
  font-family: futura;
  font-weight: 500;
  color: #030929;
}

a {
  color: #818494;
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #007bff;
  text-decoration: none;
}

footer {
  background: #ebf4fa;
}

.card {
  /* Add shadows to create the "card" effect */
  font-weight: 400;
  border: 0;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card-footer {
  text-align: center;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

/* Subscribe Newsletter */

.home-newsletter {
  padding: 80px 0;
  background: #082d61;
}

.home-newsletter .single {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}
.home-newsletter .single h2 {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.home-newsletter .single .form-control {
  height: 50px;
  background: rgba(255, 255, 255, 0.6);
  border-color: transparent;
  border-radius: 20px 0 0 20px;
}
.home-newsletter .single .form-control:focus {
  box-shadow: none;
  border-color: #243c4f;
}
.home-newsletter .single .btn {
  min-height: 50px;
  border-radius: 0 20px 20px 0;
  background: #243c4f;
  color: #fff;
}

/* Join US */

.join-us {
  padding: 80px 0;
  background: #082d61;
}

.home-newsletter .single {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}
.home-newsletter .single h2 {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.home-newsletter .single .form-control {
  height: 50px;
  background: rgba(255, 255, 255, 0.6);
  border-color: transparent;
  border-radius: 20px 0 0 20px;
}
.home-newsletter .single .form-control:focus {
  box-shadow: none;
  border-color: #243c4f;
}
.home-newsletter .single .btn {
  min-height: 50px;
  border-radius: 0 20px 20px 0;
  background: #243c4f;
  color: #fff;
}

/* Services Section start from here */

.services {
  text-align: center;
}

/* Services Section end here */
